<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $("#showTypesButton").click(function ()
        {
            $("#expandableTypes").slideToggle();
        });
    });

    $(document).ready(function () {
        $("#showIngresButton").click(function () {
            $("#expandableIngre").slideToggle();
        });
    });


</script>

<div style="background-color: dimgrey; width:1000px; text-align:left; color:white; margin-top: 10px; font-size: 20px;">
    <div>
        <center>
            <form>
                <table>  
                    <tr>
                        <td>
                            <input type="button" value="Show Types"       id="showTypesButton" />
                        </td>
                        <td>
                            <input type="button" value="Show Ingredients" id="showIngresButton" />

                        </td>
                        <td>
                            <input type="submit" value="SEARCH" />
                        </td>
                        </tr>
                </table>

               <div id="expandableTypes" style="display: none; background-color:antiquewhite; color:black;">
               {%for type in types %}
               <input type="checkbox" name="type" value="{{type.id}}" />{{ type.Name}} <br />
               {% endfor %}
               </div>

               <div id="expandableIngre" style="display: none; background-color:burlywood; color:black;">
               {%for ingre in ingres %}
               <input type="checkbox" name="ingre" value="{{ingre.id}}" />{{ ingre.Name}} <br />
               {% endfor %}
               </div>
            </form>
        </center>
    </div>
    <div style="background-color:cornflowerblue; width:980px; text-align:left; color:white; margin-left:10px;">
        <center>
            <table style="width: 100%; ">
            <tr style="height: 50px; background-color:navy;">
                <td></td>
                <td>NAME</td>
                <td>CREATOR</td>
                <td>RATING</td>
                <td>TYPES</td>
                <td>TIME</td>
                <td>DIFFICULTY</td>
                <td>INGREDIENTS</td>
            </tr>
            {% for meal in meals %}
            <tr>
                <td><a href="/diet/meal/{{meal.id}}/"> <img src="/media/{{meal.Image}}" alt="{{ meal.Name }}" style="width:50px;height:50px;"/></a></td>
                <td> <a href="/diet/meal/{{meal.id}}/">{{ meal.Name }}</a></td>
                <td> {{ meal.Creator}}    </td>
                <td> {{ meal.get_rating}} </td>
                <td>  {% for type in meal.Types.all%}
                      <div>{{type}}</div>
                      {% endfor%}
                </td>
                <td>{{ meal.get_time }} </td>
                <td>{{ meal.Difficulty }}</td>
                <td>{{ meal.Ingredients.count }}</td>
            </tr>
            {% endfor %}
            </table>
        </center>
    </div>
        <div>
        <center>
        <table>
            <tr>
                {% for page in pages %}
                {% if page != current_page %}
                <td>
                    <form action="/diet/meals/" method="get">
                    <input type="hidden"  value="{{ page }}" name="page"/>
                    <input type="submit" value="{{ page}}" />
                    </form>
                </td>
                {% else %}
                <td>
                    <input type="submit" value="{{ page}}" style="color:white; background-color:black;" />
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
        </center>
    </div>    
</div>