<div style="background-color: dimgrey; width:1000px; text-align:left; color:white; font-size: 20px;">
     <div style="background-color:cornflowerblue; width:980px; text-align:left; color:white; margin-left:10px;">
         <div>
            <table style="width: 100%;">
                <tr>
                    <td style="height: 100px; width: 100px;">
                        <img src="/media/{{meal.Image}}" alt="{{ meal.Name }}" style="width:100px;height:100px;"/>
                    </td>
                    <td>
                        <p style="font-size: 30px;">{{ meal.Name}}</p>
                    </td>
                    <td style="height: 100px; width: 100px;" class="tooltip">
                        {% if is_favorite %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="remove_from_f" />
                                <input  type="image" src="/media/heart_on.png" alt="REMOVE FROM FAVORITES" style="width:100px;height:100px;" />
                                <span class="tooltiptext">REMOVE FROM FAVORITES</span>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="add_to_f" />
                                <input  type="image" src="/media/heart_off.png" alt="ADD TO FAVORITES" style="width:100px;height:100px;"/>
                                <span class="tooltiptext">ADD TO FAVORITES</span>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            </table>
         </div>
         <div>{{ meal.Creation_Data }}</div>
         <div>{{ meal.Creator }}</div>
         <div>RATING    : {{ meal.get_rating }}</div>
         <div>TIME      : {{ meal.get_time}}</div>
         <div>DIFFICULTY: {{ meal.Difficulty}}</div>
         <div>
              {%for type in meal.Types.all %}
             <div class="tooltip">
                {{ type }}
                 <span class="tooltiptext">{{type.Description}}</span>
              </div>
              {% endfor %}
         </div>         
         <div style="background-color: dodgerblue;">
             {{ meal.Description}}
         </div>
        <table style="width: 100%; margin-top: 20px;">   
        {% for ingre in meal.Ingredients.all %}
            <tr style="height:40px;" class="tooltip">
                <td><a href="/diet/ingre/{{ingre.id}}">{{ ingre.Ingredient }}</a>
                <span class="tooltiptext">{{ ingre.Ingredient.Description}}</span>
                </td>
                <td><div style="text-align: left; ">{{ ingre.Number  }}</div></td> 
                <td><div style="text-align: left; ">{{ ingre.Unit }}</div></td> 
            </tr>
        {% endfor %}
        </table>
    </div>

    {% if user.is_authenticated and rating_enable %}
    <center>
        <div style="background-color:lightskyblue; width: 500px; color:black; margin-top: 50px;">
            <center>
            <form action="/diet/meal/rate/" method="post">
                {% csrf_token %}
                <input type="hidden"  name="id" value="{{meal.id}}"/>
                <table>
                    <tr>
                        <td><input type="radio" name="rate" value="1" />1</td>
                        <td><input type="radio" name="rate" value="2" />2</td>
                        <td><input type="radio" name="rate" value="3" />3</td>
                        <td><input type="radio" name="rate" value="4" />4</td>
                        <td><input type="radio" name="rate" value="5" />5</td>
                        <td><input type="radio" name="rate" value="6" />6</td>
                        <td><input type="submit" value="RATE" /></td>
                    </tr>
                </table>
            </form>
            </center>
        </div>
    </center>
    {% endif %}

    <div style="margin-top:20px;">
    <center>
        <table style="width: 90%;">
            {% for comm in meal.mealcomment_set.all %}
                <tr>
                    <td> <div>{{ comm.Author }}</div><div> {{ comm.Creation_Data}}</div></td>
                    <td>{{ comm.Content }}</td>
                </tr>
            {% endfor%}
        </table>
    </center>
    </div>
        
    {% if user.is_authenticated %}    
    <center>
        <div style="background-color:lightskyblue; width: 500px; color:black; margin-top: 50px;">
            <center>
            <form action="/diet/meal/add_com/" method="post">
                {% csrf_token %}
                <input type="hidden"  name="id" value="{{meal.id}}"/>
                <textarea style="width:400px; height: 100px;" name="content"></textarea> 
                <input type="submit" value="ADD COMMENT" />
            </form>
            </center>
        </div>
    </center>
    {% endif %}
</div>