<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $("#showTypesButton").click(function ()
        {
            button = document.getElementById("showTypesButton");
            if (button.value == 'Show Types') button.value = 'Hide Types';
            else button.value = 'Show Types';

            $("#expandableTypes").slideToggle();
        });
    });

    $(document).ready(function () {
        $("#showIngresButton").click(function () {
            button = document.getElementById("showIngresButton");
            if (button.value == 'Show Ingredients') button.value = 'Hide Ingredients';
            else button.value = 'Show Ingredients';
            $("#expandableIngre").slideToggle();

        });
    });

    $(document).ready(function () {
        $("#showTimeFilterButton").click(function () {
            button = document.getElementById("showTimeFilterButton");
            if (button.value == 'Show Filters') button.value = 'Hide Filters';
            else button.value = 'Show Filters';
            $("#expandableTimeFilter").slideToggle();

        });
    });


</script>

<div style="background-color: dimgrey; width:1000px; text-align:left; color:white; margin-top: 10px; font-size: 20px;">
    <div>
        <center>
            <form action="/diet/meals/" method="post" id="postform">
                {% csrf_token %}
                <table>  
                    <tr>
                        <td>
                            <input type="button" value="Show Types"       id="showTypesButton" />
                        </td>
                        <td>
                            <input type="button" value="Show Ingredients" id="showIngresButton" />

                        </td>
                        <td>
                            <input type="button" value="Show Filters" id="showTimeFilterButton" />

                        </td>
                        <td>
                            <input type="submit" value="SEARCH" />
                        </td>
                        </tr>
                </table>

               <div id="expandableTimeFilter" style="display: none; background-color:bisque; color:black;">
                    <div>MAX TIME:<input type="number" value="0" name="max_time" />"0 means no limit"</div>
                    <div>MIN RATING:<input type="number" value="0" name="min_rat" />"0 means no limit"</div>
                    <div>MAX Difficulty:<input type="number" value="0" name="max_diff" />"0 means no limit"</div>
               </div>

               <div id="expandableTypes" style="display: none; background-color:antiquewhite; color:black;">
               <table>
               {%for types in typess %}
                    <tr>
                        {%for type in types %}
                            <td><input type="checkbox" name="type" value="{{type.id}}" />{{ type.Name}}</td>
                        {% endfor %}
                   </tr>
               {% endfor %}
               </table>
               </div>

               <div id="expandableIngre" style="display: none; background-color:burlywood; color:black;">
               <table>
                   {%for ingres in ingress %}
                    <tr>
                        {%for ingre in ingres %}
                        <td><input type="checkbox" name="ingre" value="{{ingre.id}}" />{{ ingre.Name}}</td>
                        {% endfor %}
                     </tr>
                   {% endfor %}
               </table>
               </div>
            </form>
        </center>
    </div>
    <div style="background-color:cornflowerblue; width:980px; text-align:left; color:white; margin-left:10px;">
        <center>
            <table style="width: 100%;" id="meals_table">
            <tr style="height: 50px; background-color:navy;" id="meals_table_tr_top">
                <td></td>
                <td>NAME</td>
                <td>CREATOR</td>
                <td>RATING</td>
                <td>TYPES</td>
                <td>TIME</td>
                <td>DIFFICULTY</td>
                <td>INGREDIENTS</td>
            </tr>
            {% for meal in meals %}
            <tr id="meals_table_tr" class="tooltip">
                <td><a href="/diet/meal/{{meal.id}}/"> <img src="/media/{{meal.Image}}" alt="{{ meal.Name }}" style="width:50px;height:50px;"/></a>
                <span class="tooltiptext"> {{ meal.Description }}</span>
                </td>
                <td> <a href="/diet/meal/{{meal.id}}/">{{ meal.Name }}</a></td>
                <td> {{ meal.Creator}}    </td>
                <td> {{ meal.get_rating}} </td>
                <td>  {% for type in meal.Types.all%}
                        {{ type }}
                      {% endfor%}
                </td>
                <td>{{ meal.get_time }} </td>
                <td>{{ meal.Difficulty }}</td>
                <td>{{ meal.Ingredients.count }}</td>
            </tr>
            {% endfor %}
            </table>
        </center>
    </div>
        <div>
        <center>
        <table>
            <tr>
                {% for page in pages %}
                {% if page != current_page %}
                <td>
                    <form action="/diet/meals/" method="get">
                    <input type="hidden"  value="{{ page }}" name="page"/>
                    <input type="submit" value="{{ page}}" />
                    </form>
                </td>
                {% else %}
                <td>
                    <input type="submit" value="{{ page}}" style="color:white; background-color:black;" />
                </td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
        </center>
    </div>    
</div>